
<% provide(:title, "Accueil") %>

    
<div class="center jumbotron">
    <h1>Welcome<h1>
    <p>Subscribe here</p>
    <%= link_to "Subscribe now", signup_url, class: "btn btn-lg btn-primary" %>
</div>
    