<% provide(:title, "Team") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title)%> | My Project</title>
    </head>
    <body>
        <h1>Statique#team</h1>
        <p>Find me in app/views/statique/team.html.erb</p>
    </body>
</html>